@using DungeonSlayers.Extensions
@using DungeonSlayers.Models
@using DungeonSlayers.Repositories
@using Newtonsoft.Json
@model DungeonSlayers.Models.Character
@{
    ViewBag.Title = "Create Character";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navbar {
    <li><button class="btn btn-primary navbar-btn" type="submit" value="Create" data-bind="click: save">Save</button></li>

    <li><button class="btn btn-danger navbar-btn" onclick="location.href='@Url.Action("Index")';return false;">Back</button></li>
    @*<li>@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-danger navbar-btn" })</li>*@

}

<form>
    @Html.AntiForgeryToken()


    <div class="form-vertical">
        <div class="row">
            <div class="col-sm-6"><h3>Create - Character</h3></div>
        </div>
    </div>
    <div class="row"><hr /></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("~/Views/Shared/_CharacterHeaderPartial.cshtml", Model)

        @Html.Partial("~/Views/Shared/_AttributesTraitsPartial.cshtml", Model)

        @Html.Partial("~/Views/Shared/_CombatValuesPartial.cshtml", Model)


        <div class="row">
            <div class="col-sm-12 col-md-6">
                @Html.Partial("~/Views/Shared/_GoldPartial.cshtml", Model)
            </div>
            <div class="col-sm-12 col-md-6">
                @Html.Partial("~/Views/Shared/_CharacteristicsPartial.cshtml", Model)
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script type="text/javascript">

        $(function () {

            var jsonModel = '@Html.Raw(JsonConvert.SerializeObject(this.Model, Formatting.None, new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore
            }))';
            var Model = ko.mapping.fromJSON(jsonModel, { copy: ["_destroy","RacialAbilities"] });
            Model.RacialAbilities = ko.observableArray(Model.RacialAbilities);

            var antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();
            if (antiForgeryToken) {
                Model.__RequestVerificationToken = antiForgeryToken;
            }

            Model.AV = ko.computed(function () {
                var av = 0;
                for (var i in Model.Armors()) {
                    var armor = Model.Armors()[i];
                    if (armor.Equipped()) {
                        av += armor.Armor.AV();
                    }
                }
                return av;
            }, this);

            Model.SM = ko.computed(function () {
                return 0;
            }, this);

            Model.WB = ko.computed(function () {
                return 0;
            }, this);

            var jsonCombatProperties = '@Html.Raw(JsonConvert.SerializeObject(((IEnumerable<PropertyDef>)this.ViewBag.PropertyDefs).CombatValues()))';

            @foreach(var def in ((IEnumerable<PropertyDef>)this.ViewBag.PropertyDefs).CombatValues())
            {
                @Html.Raw("Model." + def.Acronym+ " = ko.pureComputed(function() {\n" +
                    "    return "+def.DataBinding+";\n"+
               "}, this);\n")
            }
            var racials = JSON.parse('@Html.Raw(JsonConvert.SerializeObject((IEnumerable<RacialAbility>)this.ViewBag.RacialAbilities))');
            //for (i in racials) {
            //    racials[i]._new = true;
            //}
            Model.racialChoices = ko.observableArray(racials);
            Model.initializeRacialSelectPicker = function () {
                var ras = Model.RacialAbilities.removeAll();
                for (var i in ras) {
                    var ra = ras[i];
                    var raFromChoices = Model.racialChoices().filter(function (rc) { return rc.Id == ra.Id })[0];
                    //raFromChoices._new = false;
                    Model.RacialAbilities.push(raFromChoices);
                    //$('[name=RacialAbilities] option').filter(function () { return ($(this).text() == ra.Name()); }).prop('selected', true);
                }


                $('.search-choice:contains(-)').addClass('search-choice-neg');
                $('.search-choice:contains(+)').addClass('search-choice-pos');
            }
            Model.updateRacialSelectPicker = function(option, item){

            }


            @foreach (string Self in (IEnumerable<string>)this.ViewBag.SelfTypes)
            {
                var self = Self.ToLower();
                //
                @Html.Raw($@"Model.update{Self} = function(id) {{
                    {self} = $.grep({self}s, function(e) {{ return e.Id == id; }});
                    if ({self})
                    {{
                        ko.mapping.fromJS({self}[0], {{ }}, this.{Self});
                    }}
                }}
                Model.add{Self} = function() {{
                    {self} = {self}s[0];
                    {self}Id = ko.observable({self}.Id);
                    wc = {{ CharacterId: Model.Id, {Self}Id: {self}Id, {Self}: ko.mapping.fromJS({self}), Equipped: ko.observable(false), Quantity: ko.observable(1), Location: ko.observable(''), _new:  true }}
                    {self}Id.subscribe(Model.update{Self}, wc);
                    Model.{Self}s.push(wc);
                    $('#{self}Table select').selectpicker('refresh');
                }}
                Model.remove{Self} = function({self}) {{
                    Model.{Self}s.remove({self});
                    //Model.{Self}s.destroy({self});
                }}
                Model.switchTo{Self} = function({self}) {{
                    for (var i in Model.{Self}s()) {{
                        Model.{Self}s()[i].Equipped(false);
                    }}
                    {self}.Equipped(true);
                }}
                for (i in Model.{Self}s()) {{
                    wc = Model.{Self}s()[i];
                    wc.{Self}Id.subscribe(Model.update{Self}, wc);
                }}");
                //
            }

            Model.save = function () {
                $.ajax({
                    url: '/Characters/Create',
                    type: 'POST',
                    data: ko.toJSON(Model),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#success").text("Character Save Successful").fadeIn(0).delay(3000).fadeOut(1000);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#error').text("Character Save Fails (" + xhr.status + ") - " + xhr.responseText).fadeIn(0).delay(10000).fadeOut(1000);

                    }
                });
            }

            ko.applyBindings(Model);


            Model.initializeRacialSelectPicker();

        });
</script>
}
