@using DungeonSlayers.Extensions
@using DungeonSlayers.Models
@using DungeonSlayers.Repositories
@model DungeonSlayers.Models.Character

<div class="form-group row">
    <div class="col-sm-offset-4 col-sm-4">
        <img src="~/Content/DungeonSlayersTitle.png" class="img-responsive text-center" style="max-width: 300px;" />
    </div>
</div>
<div class="form-group row">
    <div class="input-group col-sm-4">
        @Html.AddOnEditorFor(model => model.Owner, "editabledropdown", label: "Player", editable: false)
    </div>
    <div class="input-group col-sm-4 pull-right">
        @Html.AddOnEditorFor(model => model.Name, label: "Name")
    </div>
</div>
<div class="form-group row">
    <div class="input-group col-sm-4">
        @Html.AddOnEditorFor(model => model.Race, "editabledropdown")
    </div>
    <div class="input-group col-sm-4">
        <div class="row row-no-padding" style="margin-left:0px;margin-right:0px;">
            <div class="input-group col-md-4 col-xs-12">
                @Html.AddOnEditorFor(model => model.Level, label: "Lvl", width: 25)
            </div>
            <div class="input-group col-md-4 col-xs-12">
                @Html.AddOnEditorFor(model => model.PP, abbr: "Progress Points", width: 25)
            </div>
            <div class="input-group col-md-4 col-xs-12">
                @Html.AddOnEditorFor(model => model.TP, abbr: "Talent Points", width: 25)
            </div>
        </div>
    </div>
    <div class="input-group col-sm-4">
        @Html.AddOnEditorFor(model => model.ClassName, "editabledropdown", label: "Class", choices: (object)ViewBag.ClassChoices, editable: false)
    </div>
</div>
<div class="form-group row">
    <div class="input-group col-sm-12 col-md-4">
    </div>
    <div class="input-group col-sm-12 col-md-4">
        @Html.AddOnEditorFor(model => model.ExperiencePoints, label: "XP", abbr: "Experience Points", width: 25)
    </div>
    <div class="input-group col-sm-12 col-md-4">
        @Html.AddOnEditorFor(model => model.HeroClassName, "editabledropdown", label: "Hero Cls", editable: false, choices: (object)ViewBag.HeroClasses)
    </div>
</div>
<div class="form-group row">
    <div class="input-group col-sm-12">
        @Html.AddOnEditorFor(model => model.RacialAbilities, "koeditabledropdown", label: "Racials", multiple: true, editable: false)
        <div class="input-group-addon" style="min-width:80px;">
            <!-- ko foreach: RacialAbilities -->
            <!-- ko foreach: Modifiers -->
            <span data-bind="text: Name + (Value>=0?' +':' -') + Value,css: 'label-'+Name" class="label label-default" style="float:left; margin-bottom:5px"></span>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>
