@model DungeonSlayers.Models.Character
@using DungeonSlayers.Models

<table class="table table-bordered table-thin">
    <tr>
        <th>Name</th>
        <th>Attributes</th>
        <th>Value></th>
    </tr>
    @foreach (Check check in ViewBag.Checks)
    {
        <tr>
            <td>@check.Name</td>
            <td>@check.PrettyBinding</td>
            <td><span data-bind="text: @check.DataBinding"></span> <span data-bind="visible: SumModifiersOfName('@check.Name')!=0,text: + (SumModifiersOfName('@check.Name')>0?' +':'') + SumModifiersOfName('@check.Name');"></span></td>
        </tr>
    }
</table>